*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
    /* border: 10px solid red; */
}
nav{
    height:80px;
    width: 100%;
    background-color: violet;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 90px;
    width: 90px;
    padding: 5px 0 0px 20px;
}
.components{
    height: 45px;
    width: 500px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.logIn,.signIn,.logOut{
    height: 42px;
    width: 120px;
    font-size: larger;
    /* border: 2px solid rgb(30, 2, 2); */
    text-align: center;  
    background-color: rgb(179, 249, 255);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.logIn:hover{
    background-color: rgb(179, 234, 216);
    border: 1px solid yellowgreen;
    font-size: medium;
 }


.signIn:hover{
    background-color: rgb(179, 234, 216);
    border: 1px solid yellowgreen;
    font-size: medium;
 }


.logOut:hover{
   background-color: rgb(179, 234, 216);
   border: 1px solid yellowgreen;
   font-size: medium;
}

   
/* ==============Home Page Ends============== */

/* ==============Sign up Page starts============== */

.signupForm{
    padding-top: 30px;
    margin: auto;
    margin-top: 70px;
    /* border: 2px solid black; */
    background-color: rgb(179, 249, 255);
    border-radius: 14px;
    height: 350px;
    width: 320px;
    text-align: center;
}
.name{
     margin: 20px;
     height:25px; 
     width:250px;
     padding-left: 10px;
     background-color: transparent;
     border: none;
     border-bottom: 1px solid black;
     outline: none;
     font-size: 15px;
}
.email{
    margin: 20px;
    height:25px; 
    width:250px;
    padding-left: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 15px;
}
.password{
    margin: 20px;
    height:25px; 
    width:250px;
    padding-left: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 15px;
}
#forgottonPass , #Already{
    font-size: 15px;
}
.submit{
    background-color: violet;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    margin: 10px;
}
.submit:hover{
    background-color:rgb(236, 87, 236) ;
    font-size: smaller;
}
a{
    color: rgb(202, 107, 202);
    text-decoration: none;
}
.dashboard{
    height: 42px;
    width: 120px;
    font-size: medium;
    /* border: 2px solid rgb(30, 2, 2); */
    text-align: center;  
    background-color: rgb(250, 100, 40);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

fieldset{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    margin: auto;
    background-color: rgb(241, 198, 235);
    border-radius: 20px;
}
legend{
    text-align: center;
}
#bookName{
   padding: 3px;
   width: 300px;
   text-align: center;
   border-radius: 5px;
   background-color: rgb(179, 249, 255);
   border: none;
   outline: none;
}
.bookinfoselect{
   padding-bottom: 10px;
}
#bookCategory{
   padding: 3px;
   width: 300px;
   text-align: center;
   border-radius: 5px;
   background-color: rgb(179, 249, 255);
   border: none;
   outline: none;
}
.dateInput{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    outline: none;
    
}
#fromDate{
   padding: 1px;
   width: 150px;
   text-align: center;
   background-color: rgb(179, 249, 255);
   border: none;
   border-radius: 13px;
   outline: none;
}
#toDate{
   padding: 1px;
   width: 150px;
   text-align: center;
   background-color: rgb(179, 249, 255);
   border: none;
   border-radius: 13px;
   outline: none;
}
.bookinfo{  
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-left: 12%;
}
.submitLib{
    background-color: violet;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 50px; 
}
.libButton{
    padding-left: 36%;
}
table , thead , td ,tr , th{
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 20px;
    padding-right: 50px;
}
.filter{
    text-align: center;
    padding-top: 20px;
    height: 40px;
}
#filterCategory{
    height: 30px;
    width:150px ;
    border: none;
    border-radius: 10px;
    background-color: rgb(174, 245, 245);
    padding-left: 1.25%;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

#filterCategory:hover{
    background-color: rgb(51, 247, 244);
    font-size: 15px;
}